.container {
  padding-left: 15%;
  padding-right: 15%;
}

.row {
  display: flex;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-two-thirds {
  width: 67%;
}

img {
  max-width: 100%;
}
