.container {
  background-color: black;
}

.bulb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.light-bulb {
  background-color: darkgrey;
  border-radius: 50%;
  max-width: 100%;
  width: 200px;
  height: 200px;
  transition: background-color 1s;
}

.container-on {
  background-color: #fefae0;
  transition: background-color 1s;
}

.light-bulb-on {
  background-color: #f8ed74;
  border-radius: 50%;
  max-width: 100%;
  width: 200px;
  height: 200px;
  transition: background-color 1s;
  width: 800px;
  height: 800px;
}
